*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: hsl(0, 0%, 98%);
    overflow-x: hidden;
}
.container{
    max-width: 1440px;
    width:100%;
    margin: auto;
}
h1 h2 h3 h4{
    color: hsl(233, 12%, 13%);
}
p{
    margin: 25px 0;
    color: #555;
    line-height: 1.3;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
}
.nav-header ul{
    display: flex;
}
.nav-header ul li{
    list-style:  none;
}
.nav-header ul li a{
    text-decoration: none;
    color: #555;
    padding: 15px;
    transition: all 0.5s ease-in-out;
}
.nav-header ul li a:hover{
    opacity: 0.6;
}
.btn{
    padding: 15px 25px;
    border-radius: 35px;
    border: none;
    background-color: hsl(12, 88%, 59%);
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn:hover{
    opacity: 0.6;
}
.hero{
    margin: 55px 0;
}
.hero .row{
    display: flex;
    align-items: center;
}


.pataern-img{
    position: absolute;
    top: -145px;
    right: -80px;
    z-index: -1;
}
.hero-left,
.hero-right{
    width: 50%;
}
.hero-right {
    text-align: end;
}
.hero-left h1{
    font-size: 66px;
    line-height: 1.2;
    font-weight: 700;
}
.hero-left p{
    width: 50%;
}
#about-manage{
    margin: 90px 0;
}
.about-left, .about-right{
    width: 50%;
}
.about-left h2{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
}
.about-left p{
    width: 62%;
}
.about-card{
    display: flex;
    align-items: baseline;
}
.card-heading span{
    padding: 5px 17px;
    border-radius: 15px;
    background: red;
}
.card-detils {
    padding-left: 13px;
}
.card-detils p{
    width: 80%;
}
.pataern-img2 {
    position: absolute;
    left: -512px;
    top: -212px;
    z-index: -1;
}
.testimonial{
    position: relative;
    max-width: 100%;
    display: block;
}
.testimonial h2{
    text-align: center;
    font-size: 25px;
    padding: 50px;
    margin-bottom: 85px;
}
.testimonial-detiles{
    text-align: center;
    max-width: 32%;
    background: hsl(0, 0%, 98%);
    padding: 4%;
    position: relative;
    justify-content: space-between;
}
.m4{
    margin: 0 2%;
}
.testimonial-detiles img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -65%);
}
.testimonial-button{
    display: flex;
    justify-content: center;
}
.flex{
    display: flex;
}
.teem-work{
    background-color: hsl(12, 88%, 59%);
    position: relative;
    padding: 65px 0;
    margin-top: 65px;
    background-image: url("/images/bg-simplify-section-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.aic{

    align-items: center;
}
.jcsb{
    justify-content: space-between;
}
.teem-work h2{
    font-size: 50px;
    font-weight: 700;
    color: white;
    width: 40%;
}
.bg-w{
    background-color: #fff;
    color: hsl(12, 88%, 59%);
}
.footer{
    background-color: #1E1E26;
    padding: 65px 0;
    max-width: 100%;
}
.footer-logo-and-social-media {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}
.footer-logo-and-social-media img{
    color: white;
    filter: brightness(14);
}
.social-media-icon a i{
    font-size: 20px;
    padding: 0 3px;
    color: white;
    transition: all 0.5s ease-in-out;
}
.social-media-icon a i:hover{
    color: hsl(12, 88%, 59%);
}
.col-2 ul li{
    padding: 15px 0;
}
.col-2 ul li a{
    color: #fff;
}
.col-2 ul li a:hover{
    color: hsl(12, 88%, 59%);
}
.input {
    padding: 10px;
    padding-right: 60px;
    border: none;
    border-radius: 15px;
}
.submit {
    padding: 12px 19px;
    border: none;
    border-radius: 17px;
    margin-left: 5px;
    background-color: hsl(12, 88%, 59%);
    color: #fff;
    transition: all 0.7s ease-in-out;
}
.submit:hover{
    opacity: 0.6;
}
.footer-search {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}